:root {
  --text: #4b4b4b;
  --text-h: #1a1a1a;
  --bg: #ffffff;
  --panel-bg: #fafafa;
  --border: #e0e0e0;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 600;
  color: var(--text-h);
}
